@import url('https://css.gg/dark-mode.css');
html {
    height: 10000px;
}
body {
    background-color: #e2e8ff;
    color:#4e4e4e;
    margin:0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-of-page {
    position:fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    align-content: center;
    margin:0 auto;
    z-index: 999;
    background-color:#e2e8ff;
}
.header {
    width:100%;
    padding:0;
    
}
.header li {
    display:inline;
    padding-top: 5px;
    padding-left:50px;
    padding-right:50px;
    font-size: 25px;
    color:#4e4e4e;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color:#4e4e4e;
}
a:hover {
    color:#4e4e4e;
    background-color: azure;
}

.logo, .nightmode{
    text-align:center;
    list-style-type: none;
}
.home, .projects, .about, .contact {
    text-align: center;
    list-style-type: none;
    border:0;
    color:#4e4e4e;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 110%;
    font-size: 3.5em;
    font-weight: 500;
    padding-top:50px;
    width: 100%;
}

.big-title-part2 {
    position: relative;
    bottom:10px;
    font-weight:500;
}
.big-title {
    letter-spacing: -1.5px;
    line-height: 110%;
    margin-bottom: -10px;
    font-weight: 525;                                                                                                         
}
.front-page-about-me {
    display: flex;
    margin-top:-10px;
    text-align: center;
    justify-content: center;
}
.front-page-paragraph {
    text-align: center;
    letter-spacing: -.5px;
    margin:0px;
    position:relative;
    font-weight:600;
    font-size:1.1em;
    width: 550px;
}

.my-info {
    padding-top:50px;
    text-align:center;
}

.sub-headings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:50px;
}
.sub-heading-container {
    width:700px;
    height:600px;
    font-weight:600;
    font-size:1.1em;
}

.sub-heading-description li {
    text-align: center;
    padding-right:50px;
}
